.balao {
    left: 25%;
    position: absolute;
    top: 25%;
    width: 230px;
    height: 290px;
    background-color: hsla(256, 72%, 46%, 1); /* Cor de fundo do balão */
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    color: rgba(211, 207, 207, 0.911); /* Cor do texto dentro do balão */
    font-weight: bold;
    z-index: 1;
    @font-face {
        font-family: Hanken Grotesk;
        src: url(https://fonts.google.com/specimen/Hanken+Grotesk);
    }
}

.bola {
    z-index: 1;
    align-items: center;
    left: 30.2%;
    position: fixed;
    top: 36%;
    width: 80px;
    height: 75px;
    padding: 15px;
    border-radius: 50%;
    background: linear-gradient(rgba(34, 0, 158, 0.911), hsla(256, 72%, 46%, 1));

}

.bola h1 {
    color: white;
    position: absolute;
    left: 12px;
    top: -22px;
    font-size: 39px;
    padding: 20px;
    @font-face {
        font-family: Hanken Grotesk;
        src: url(https://fonts.google.com/specimen/Hanken+Grotesk);
    }
}
.Inf100 {
    left: 40px;
    z-index: 1;
    position: absolute;
    top: 270px;
    left: 448px;
    color: rgba(167, 165, 165, 0.925);
}

.Great {
    z-index: 1;
    color: rgba(240, 237, 237, 0.932);
    position: absolute;
    top: 54%;
    left: 32.7%;
}
.paragrafo1 {
    z-index: 1;
    color: rgba(255, 255, 255, 0.596);
    top: 60%;
    position: fixed;
    left: 375px;
    width: 270px;
    height: 80px;
    font-size: 14px;
}
.paragrafo2 {
    z-index: 1;
    color: rgba(255, 255, 255, 0.596);
    top: 62%;
    position: fixed;
    left: 388px;
    width: 270px;
    height: 80px;
    font-size: 14px;
}
.paragrafo3 {
    z-index: 1;
    color: rgba(255, 255, 255, 0.596);
    top: 64%;
    position: fixed;
    left: 438px;
    width: 270px;
    height: 80px;
    font-size: 14px;
}

.balao2 {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background-color: white;
    position: absolute;
    width: 230px;
    height: 290px;
    padding: 15px;
    border-radius: 20px;
    top: 25%;
    left: 40.7%;
}
.Summary {
    z-index: 1;
    color: rgb(41, 41, 92);
    position: absolute;
    left: 46%;
    top: 27.3%;
    font-family: Hanken Grotesk;
    font-weight: 700;
}
.balaoreact {
    background-color: rgba(245, 64, 103, 0.062);
    width: 170px;
    height: 32px;
    border-radius: 8px;
    left: 46%;
    top: 34.3%;
    position: absolute;
    z-index: 1;
}
.Reaction {
    color: rgba(255, 0, 0, 0.733);
    font-size: 12.3px;
    font-family: Hanken Grotesk;
    font-weight: 700;
    position: absolute;
    left: 48.5%;
    top: 33.5%;
}
.balaomemory {
    background-color: rgba(255, 250, 183, 0.329);
    position: absolute;
    z-index: 1;
    width: 170px;
    height: 32px;
    border-radius: 8px;
    left: 46%;
    top: 41.3%;
}
.Memory {
    color: hsla(46, 100%, 46%, 0.822);
    font-size: 12.3px;
    font-family: Hanken Grotesk;
    font-weight: 700;
    position: absolute;
    left: 48.5%;
    top: 40.5%;
    z-index: 1;
}
.balaoverbal {
    background-color: rgba(0, 255, 132, 0.075);
    position: absolute;
    width: 170px;
    height: 32px;
    border-radius: 8px;
    z-index: 1;
    left: 46%;
    top: 300px;
}
.Verbal {
    color: rgb(50, 211, 184);
    font-size: 12.3px;
    font-family: Hanken Grotesk;
    font-weight: 700;
    position: absolute;
    left: 48.5%;
    top: 47.2%;
    z-index: 1;
}
.balaovisual {
    background-color: rgba(90, 0, 235, 0.055);
    position: absolute;
    width: 170px;
    height: 32px;
    border-radius: 8px;
    z-index: 1;
    left: 46%;
    top: 342px;
}
.Visual {
    color: rgba(0, 16, 156, 0.767);
    z-index: 1;
    font-size: 12.3px;
    font-family: Hanken Grotesk;
    font-weight: 700;
    position: absolute;
    left: 48.5%;
    top: 337px;
}
.botao {
    z-index: 1;
    top: 400px;
    left: 46%;
    position: absolute;
    text-decoration: none;
    align-items: center;
    width: 170px;
    height: 40px;
    background-color: rgba(1, 7, 36, 0.829);
    border-bottom: none;
    border-bottom-color: none;
    border-radius: 22px;
    animation: none;
}
.raio {
    position: absolute;
    left: 46.4%;
    top: 35%;
    width: 20px;
    height: 20px;
}
.brain {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 46.4%;
    top: 42.3%;
}
.talk {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 46.4%;
    top: 48.8%;
}
.eye {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 46.4%;
    top: 55.5%;
}
.infreact h1 {
    z-index: 1;
    position: absolute;
    font-family: Hanken Grotesk;
    font-size: 11px;
    font-weight: 700px;
    left: 744.5px;
    top: 34.6%;
    color: rgba(2, 4, 34, 0.904);
}
.infreact h2 {
    z-index: 1;
    position: absolute;
    font-family: Hanken Grotesk;
    font-size: 11px;
    font-weight: 700px;
    left: 762px;
    top: 34.3%;
    color: rgba(61, 61, 61, 0.5);
}
.infmemory h1 {
    z-index: 1; 
    position: absolute;
    font-family: Hanken Grotesk;
    font-size: 11px;
    font-weight: 700px;
    left: 744.5px;
    top: 41.5%;
    color: rgba(2, 4, 34, 0.904);
}
.infmemory h2 {
    z-index: 1;
    position: absolute;
    font-family: Hanken Grotesk;
    font-size: 11px;
    font-weight: 700px;
    left: 762px;
    top: 41.1%;
    color: rgba(61, 61, 61, 0.5);
}
.infverbal h1 {
    z-index: 1; 
    position: absolute;
    font-family: Hanken Grotesk;
    font-size: 11px;
    font-weight: 700px;
    left: 744.5px;
    top: 48.17%;
    color: rgba(2, 4, 34, 0.904)
}
.infverbal h2 {
    z-index: 1;
    position: absolute;
    font-family: Hanken Grotesk;
    font-size: 11px;
    font-weight: 700px;
    left: 762px;
    top: 47.8%;
    color: rgba(61, 61, 61, 0.5)
}
.infvisual h1 {
    z-index: 1; 
    position: absolute;
    font-family: Hanken Grotesk;
    font-size: 11px;
    font-weight: 700px;
    left: 744.5px;
    top: 54.8%;
    color: rgba(2, 4, 34, 0.904)
}
.infvisual h2 {
    z-index: 1;
    position: absolute;
    font-family: Hanken Grotesk;
    font-size: 11px;
    font-weight: 700px;
    left: 762px;
    top: 54.4%;
    color: rgba(61, 61, 61, 0.5)
}